

<h3 style="text-align: left; margin-top: 5%;">Send Me a Message</h3>

<form name="contact" class="contact-form" data-netlify-recaptcha="true" data-netlify="true" method="POST">
    <input id="name" type="text" name="name" placeholder="Your Name" required> 
    <input id="mail" type="text" name="_replyto" placeholder="Your Email" required>
    <textarea id="message" name="message" placeholder="Your message" required></textarea>
    
    <!--Add reCAPTCHA-->
    <div data-netlify-recaptcha="true"></div>

    <button class="reach-me-send" type="submit">Send</button>

</form>

  