

<form class="contact-form" data-netlify-recaptcha="true" data-netlify="true" method="POST" >
    <input id="name" type="text" name="name" placeholder="Your Name"> 
    <input id="mail" type="text" name="_replyto" placeholder="Your Mail">
    <textarea id="message" name="message" placeholder="Your message"></textarea>
    
    <button class="reach-me-send" type="submit">Send</button>

    <!--Add reCAPTCHA-->
    <!-- <div data-netlify-recaptcha="true"></div>
    <p>
        <button type="submit">Send</button>
    </p> -->
</form>

  