{{- define "main" -}}
{{- partial "homepage-body.html" . -}}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{- $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) -}}

<!--Netlify CMS script-->
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>


{{- partial "note-list.html" $paginator -}}
{{- partial "pagination.html" $paginator -}}
{{- end -}}